@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'Segoe UI Semibold', 'SF Pro Display', 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3px;
}

h2 {
    font-family: 'SF Pro Text', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: none;
}

.custom-scrollbar:hover {
    scrollbar-width: thin;
}
